.main-banner {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    height: 450px;
    background-image: url("/images/main-banner-backgorund.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    &__title {
        margin: 0;
        margin-bottom: 10px;
        color: #ffffff;
    }
    &__paragraph {
        margin: 0;
        margin-bottom: 20px;
        color: #ffffff;
    }
    .reg-btn--style {
        text-decoration: none;
    }
}
