.contents-page {
    &__elements {
        width: 100px;
        box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
        margin: 10px 10px;
        width: 88%;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 30px 70px;
        float: right;
    }
}
