.contents-page {
    // float: left;
    max-width: 1000px;
    &__elements {
        width: 800px;
        border: 1px solid #ebebeb;
        border-top: 3px solid orange;
        margin: 0px 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 30px 50px;
        background-color: white;
    }
}
