.footer {
    margin-top: 50px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    &__top {
        background-color: #424347;
        display: flex;
        justify-content: center;
        height: 300px;
        align-items: center;
        &__icon__left {
            width: 150px;
        }
        &__icon__right {
            width: 100px;
        }
        &__content {
            display: flex;
        }
        &__title {
            color: #ffffff;
        }
        &__question {
            color: #999999;
        }
        &__link {
            margin-top: 15px;
            color: #999999;
        }
        &__text-content {
            margin-right: 70px;
        }
        &__left {
            border-right: 1px solid #707070;
            padding-right: 100px;
        }
        &__right {
            padding-left: 100px;
        }
    }
    &__bottom {
        height: 80px;
        background-color: #393a3e;
        border-top: 1px solid #707070;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__left {
            color: #999999;
            margin-right: 300px;
            .footer__bottom__first {
                span {
                    margin-right: 40px;
                }
            }
        }
        &__right {
            font-size: 1.3rem;
            color: #ffffff;
            div {
                display: inline-block;
                margin: 0px 15px;
            }
        }
    }
}
