header {
    text-align: center;
}

.header {
    box-sizing: border-box;
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__language {
        margin-left: 40px;
    }
    .nav__language:hover {
        color: black;
    }

    .header__nav {
        .nav-item {
            margin-left: 30px;
            text-decoration: none;
            color: #999999;
            font-size: 0.8rem;
            -webkit-transition: color 300ms ease-out;
            -moz-transition: color 300ms ease-out;
            -o-transition: color 300ms ease-out;
            transition: color 300ms ease-out;
        }
        .nav-item:hover {
            color: black;
        }
    }
}
